.MentoresWrapper {
    box-sizing: border-box;
    height: 100vh;
    background-color:  #FBFBFB !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MentoresImg {
    width: 584px;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../../components/assets/Desktop\ -\ Imagem\ 3.svg);
    background-size: cover;
    margin-left: 400px;
    display: flex;
}

@media (max-width: 700px) {
    .MentoresContainer {
       margin-left: 50px !important;
    }

    .MentoresImg {
        display: none;
    }
    
}

.MentoresContainer {
    max-width: 384px !important;
    min-height: 100vh !important;
    margin-right: 200px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px; 
}

.MentoresTitle {
    font-weight: 700;
    font-size: 24px;
    color: #3B3B3B;
}

.LinkVoltar {
    font-weight: 700;
    font-size: 18px;
    color: #3B3B3B;
    align-self: flex-start;
    padding-left: 8%;
    text-decoration: none;
}