.body-container {
    background-color: #fce0d6 !important;
    border-radius: 4px;
    border: 1px solid #FEBBA2;
    height: 92px !important;
    width: 384px !important;
    margin-bottom: 32px !important;
    transition: 1s ease-out;
}

.LinkRota a {
    text-decoration: none;
    width: 384px !important;
    
}

.body-container:hover{
    background-color: #FEBBA2!important;
}

@media (max-width: 700px) {
    .body-container {
      margin-left: 100px;
    }

}