/* .container{
    width: 100%;
    max-width: 100px !important;
    background: #c4c4c4 !important;
    display: flex;
    gap: 16px;
    flex-direction: column;
   
} */

/* .body-card{
    display: flex !important;
    flex-direction: row !important;
    background-color: red !important;
} */

/* .box{
    display: flex;
    flex-direction: row-reverse !important;
    background-color: red !important;
} */

.body-container {
    background-color: #fce0d6 !important;
    border-radius: 4px;
    border: 1px solid #FEBBA2;
    height: 92px !important;
    width: 384px;
    margin-bottom: 32px;
}

.LinkRota {
    text-decoration: none;
}

.body-container:hover{
    background-color: #FEBBA2!important;
}

@media (max-width: 700px) {
    .body-container {
      margin-left: 100px;
    }

}