.input {
    width: 344px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: #E1E1E1;
    border-radius: 4px;
    border: none;
    padding: 24px;
}