@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.Title {
    color: #FE4400;
    text-align: center;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
}

.Title-Signup {
    color: black !important;
    text-align: center;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
}

.signin-subtitle {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
margin-bottom: 30px;
line-break: loose;
}

h3, h6 {
    text-align: center;
}

.legend-questions {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;

}

.register-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FBFBFB;
    gap: 16px;
    height: 100vh;
}


.Signup-image {
    width: 584px;
    min-height: 100vh;
    background-image: url(../assets/Desktop\ -\ Imagem\ 1.svg);
    background-size: cover;
    margin-left: 128px;
}

.form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 229px;
    margin-left: 116px;
    max-width: 384px;
    
}

@media (max-width: 700px) {
    .form-container {
       margin-right: 108px;
    }

    .Signup-image {
        display: none;
    }
    
}

.CreateAccBtn {
    color: white !important;
    width: 384px;
    height: 48px;
    background-color: #FE4400 !important;
    border-radius: 4px;
    border-color: #FE4400 !important;
    font-weight: bold !important;
    margin-top: 26px;
}

.PrevBtn {
    color: #3B3B3B !important;
    background-color: #FBFBFB !important;
    width: 184px;
    height: 48px;
    border: 1px solid #7E7E7E;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 16px;
    margin-top: 10px;
    font-weight: bold !important;
}

.NextBtn {
    color: #F7F7F7 !important;
    font-weight: bold !important;
    width: 184px;
    height: 48px;
    background: #FE4400 !important;
    border-color: #FE4400 !important;
    border-radius: 4px;
    margin-top: 10px;
}

.input {
    width: 384px !important;
    height: 48px !important;
}

.orange-progressbar .progress-bar{
    background-color: #FE4400 !important;
}