.DatesWrapper {
    box-sizing: border-box;
    /* width: 90vw; */
    height: 100vh;
    background-color:  #FBFBFB !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ScheduleImg {
    width: 584px;
    height: 100vh;
    max-height: 100vh;
    background-image: url(../../components/assets/Desktop\ -\ Imagem\ 3.svg);
    background-size: cover;
    margin-left: 17%;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 700px) {
    .ScheduleImg {
      display: none;
    }

    .DatesContainer {
        margin-left: 50px !important;
    }
}

.DatesContainer {
    max-width: 500px !important;
    min-height: 100vh !important;
    margin-right: 10% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.AgendadoTitle {
    font-weight: 700;
    font-size: 24px;
    color: #3B3B3B;
    align-self: flex-start;
}