*{
    margin: 0;
    padding: 0;
}

.image {
    /* display: flex;
    align-items: flex-start; */
    width: 584px;
    min-height: 100vh;
    background-image: url(../assets/Desktop\ -\ Imagem\ 1.svg);
    background-size: cover;
    margin-left: 128px;
}

@media (max-width: 700px) {
    .image {
        display: none;
    }
    
}

.LogIn-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 229px;
    margin-left: 116px;
}

@media (max-width: 700px) {
    .LogIn-container {
       margin-right: 108px;
    }
    
}

.Subtitle {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
margin-bottom: 30px;
}

.input{
    width: 384px;
    height: 48px;
}

.imput::placeholder {
    color: #7E7E7E !important;
}

.LogInBtn {
    color: white !important;
    width: 384px;
    height: 48px;
    background-color: #FE4400 !important;
    border-radius: 4px;
    border-color: #FE4400 !important;
    font-weight: bold !important;
}

.CreateAcc {
    font-size: 16px;
    font-weight: bold;
    color:#3B3B3B !important;
    width: 384px;
    height: 48px;
    background-color: white !important;
    border: 1px solid #7E7E7E !important;
    border-radius: 4px !important;
}

a {
    color: #3B3B3B !important;
}

a:hover {
    color: #7E7E7E;
}

hr {
    border: 1px solid #7E7E7E;
}