*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-container {
    max-width: 400px;
    width: 100%;
}

.LoginBtn{
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: 16px;
}