*{
    margin: 0;
    padding: 0;
}

.input{
    background-color: #E1E1E1 !important;
    width: 384px;
    height: 48px;
}

.imput::placeholder {
    color: #7E7E7E !important;
}

.LogInBtn {
    color: white !important;
    width: 384px;
    height: 48px;
    background-color: #7e7e7e !important;
    border-radius: 4px;
    font-weight: bold !important;
}

.CreateAcc {
    font-size: 16px;
    font-weight: bold;
    color: #7E7E7E !important;
    width: 384px;
    height: 48px;
    background-color: white !important;
    border: 1px solid #7E7E7E !important;
    border-radius: 4px !important;
}

a {
    color: black !important;
}

a:hover {
    color: #7E7E7E;
}

hr {
    border: 1px solid #7E7E7E;
}