.Header {
    font-size: 18px;
    color: #3B3B3B;
    background:#FBFBFB!important;
    width: 100%;
    height: 78px !important;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-top: 0px !important;
    border-bottom: 2px solid #FE4400 !important;
    position: absolute;
    
}

@media (max-width: 700px) {
    .Header {
      background-color: #FE4400 !important;
    }

}
.ProfileTitle {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.header-links {
    display: flex;
    gap: 50px;
}

.header-links a {
    text-decoration: none;
    color: black;
}

.header-links a:hover {
    color: #7E7E7E;
}

.Nav-links {
    font-size: 18px;
    font-weight: bold;
}