.Header{
    font-size: 18px;
    background:#DEDEDE!important;
    width: 100%;
    /* max-width: 1980px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border: none !important;
    position: fixed;
    
}
.ProfileTitle {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.header-links {
    display: flex;
    gap: 50px;
}

.header-links a {
    text-decoration: none;
    color: black;
}

.header-links a:hover {
    color: #7E7E7E;
}

.Nav-links {
    font-size: 18px;
    font-weight: bold;
}