.CardContainer {
    max-height: 180px !important;
    display: flex;
}

.MentorName {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.MentorDetails {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.CardBody {
    background-color: #fce0d6 !important;
    border-radius: 4px;
    border: 1px solid #FEBBA2;
    height: 180px;
    width: 384px;
    cursor: pointer;
    transition: 1s ease-out;
}

.CardBody:hover{
    background-color: #FEBBA2!important;
}

.LinkRota {
    text-decoration: none;
}